crewai
langchain
langchain-community
langchain-ollama
watchdog
fastapi
uvicorn
python-dotenv
pandas
sentence-transformers
numpy
httpx
apscheduler
litellm
fastapi_sso
email-validator
lxml
beautifulsoup4
